/* ============================================================
    Typography
============================================================ */
.lede {
    color:#666;
    font-weight:300;
    font-size:1.5em; /* 24px */
    line-height:1; /* 24px */
    margin:0.6667em 0; /* 16px 0 */
}
.caption {
    color:#666;
    font-weight:400;
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    margin:0.5714em 0; /* 8px 0 */
}


/* ============================================================
    Alignment
============================================================ */
/* Left */
.pull-left {
    float:left;
    }
    img.pull-left {
        margin:0 1em 0.5em 0; /* 0 16px 8px 0 */
    }

/* Right */
.pull-right {
    float:right;
    }
    img.pull-right {
        margin:0 0 0.5em 1em; /* 0 0 8px 16px */
    }


/* ============================================================
    Navigation Classes
============================================================ */
ul.navigation {
    border-top:1px solid #f0f0f0;
    padding-top:0.4375em; /* 7px */
    }
    ul.navigation li {
        list-style:none;
        margin-left:-0.25em; /* 4px */
        border-right:1px solid #f0f0f0;
        display:inline-block;
        }
        ul.navigation li:hover {
            border-right:0 none;
            margin-right:1px;
        }
        ul.navigation li:last-child,
        ul.navigation li.active {
            border-right:0 none;
        }
        ul.navigation li.active a {
            color:#fff;
            background-color:#666;
            font-weight:600;
        }
    ul.navigation a {
        border:0 none;
        border-radius:0.25em; /* 4px */
        padding:0.25em 1em; /* 4px 16px */
        display:block;
    }
    ul.navigation a:hover {
        background-color:#f0f0f0;
        border-color:none;
        cursor:pointer;
    }
    ul.navigation a[rel="prev"]:hover,
    ul.navigation a[rel="next"]:hover {
        background-color:transparent;
    }


/* Tabbed */
ul.tabbed {
    border-top:0;
    border-bottom:1px solid #f0f0f0;
    margin-bottom:0.4375em; /* 7px */
    padding-top:0;
    }
    ul.tabbed li.active a,
    ul.tabbed li a:hover {
        border-radius:0.25em 0.25em 0 0; /* 4px 4px 0 0 */
    }


/* ============================================================
    Stats
============================================================ */
ul.stats li {
    list-style:none;
    margin:0 0.75em 0 0; /* 0 12px 0 0 */
    padding:0 0.75em 0 0; /* 0 12px 0 0 */
    border-right:1px solid #f0f0f0;
    float:left;
    }
    ul.stats li:last-child {
        margin:0;
        padding:0;
        border:none;
    }
ul.stats li a {
    font-weight:700;
    font-size:1.125em; /* 18px */
    line-height:1.3334; /* 24px */
    border:0 none;
    display:block;
    float:left;
}
ul.stats li a span {
    font-weight:400;
    font-size:0.6667em; /* 12px */
    line-height:1.3334; /* 16px */
    display:block;
}


/* ============================================================
    Breadcrumb
============================================================ */
nav.breadcrumb {
    color:#ccc;
    font-size:0.875em; /* 142px */
    line-height:1.1429; /* 16px */
}
nav.breadcrumb a {
    text-decoration:none;
    margin:0 0.2857em; /* 0 4px */
    border:0 none;
    }
    nav.breadcrumb a:first-child {
        margin-left:0;
    }
    nav.breadcrumb a:hover,
    nav.breadcrumb a:focus {
        color:#333;
    }
    nav.breadcrumb a:active {
        color:#666;
    }
nav.breadcrumb strong {
    color:#333;
    font-weight:600;
    margin-left:0.2857em; /* 4px */
}


/* ============================================================
    Progress indicator
============================================================ */
.progress li {
    line-height:2; /* 32px */
    list-style:none;
    background-color:#f0f0f0;
    margin:0 1em 0.5em 0; /* 0 16px 8px 0 */
    padding:0 0.25em 0 0.5em; /* 0 4px 0 8px */
    position:relative;
    display:inline-block;
    }
    .progress li:before {
        content:"";
        font-size:1em; /* 16px */
        font-weight:600;
        border:solid;
        border-color:#f0f0f0 transparent;
        border-width:1em 0 1em 1em; /* 16px 0 16px 16px */
        display:block;
        position:absolute;
        left:-1em; /* -16px */
    }
    .progress li:first-child {
        border-radius:0.25em 0 0 0.25em;
    }
    .progress li:first-child:before {
        display:none;
    }
    .progress li:after {
        content:"";
        font-size:1em; /* 16px */
        border:solid;
        border-color:transparent #f0f0f0;
        border-width:1em 0 1em 1em; /* 16px 0 16px 16px */
        display:block;
        position:absolute;
        right:-1em; /* -16px */
        top:0;
    }
.progress li.completed {
    background-color:#e0e0e0;
    }
    .progress li.completed:hover {
        background-color:#d0d0d0;
    }
    .progress li.completed:before {
        border-color:#e0e0e0 transparent;
    }
    .progress li.completed:hover:before {
        border-color:#d0d0d0 transparent;
    }
    .progress li.completed:after {
        border-color:transparent #e0e0e0;
    }
    .progress li.completed:hover:after {
        border-color:transparent #d0d0d0;
    }
.progress li.active {
    color:#fff;
    font-weight:600;
    background-color:#666;
    }
    .progress li.active:before {
        border-color:#666 transparent;
    }
    .progress li.active:after {
        border-color:transparent #666;
    }
.progress li a {
    border:0 none;
    display:block;
}


/* ============================================================
    Footer
============================================================ */
footer[role="contentinfo"] {
    margin-top:4em; /* 64px */
    padding-top:0.4375em; /* 7px */
    border-top:1px solid #f0f0f0;
    clear:both;
}
footer[role="contentinfo"] nav ul li {
    display:inline;
    margin:0 0.75em 0 0; /* 0 12px 0 0 */
    padding:0 0.75em 0 0; /* 0 12px 0 0 */
    font-weight:600;
    border-right:1px solid #ccc;
}
footer[role="contentinfo"] nav ul li:last-child {
    margin:0;
    padding:0;
    border:none;
}
footer[role="contentinfo"] a {
    border:0 none;
}


/* ============================================================
    Notification
============================================================ */
.notification {
    background-color:#fffbe6;
    border-left:0.25em solid #fe9; /* 4px */
    border-radius:0 0.25em 0.25em 0; /* 0 4px 4px 0 */
    padding:1em;
    }
    .notification.success {
        background-color:#f0f6e9;
        border-left-color:#b3d98c;
    }
    .notification.failure {
        background-color:#fcecec;
        border-left-color:#dd6969;
    }
.notification .h {
    color:#444;
    font-weight:700;
    font-size:1.125em; /* 18px */
    line-height:1.3334; /* 24px */
    margin:0; /* 24px 0 0 */
    border:0 none;
    padding:0;
}



/* ============================================================
    Tooltip
============================================================ */
.tip {
    position:relative;
    }
    .tip:hover:after {
        content:attr(data-tip);
        color:#fff;
        font-size:0.75em; /* 12px */
        line-height:1.3334em; /* 16px */
        text-align:left;
        background-color:#666;
        border-radius:0.3334em; /* 4px */
        padding:0.6667em; /* 8px */
        width:16.5em; /* 200px */
        opacity:0.9;
        display:block;
        position:absolute;
        left:0;
        bottom:2em; /* 24px */
        z-index:98;
    }
    .tip:hover:before {
        content:"";
        border:solid;
        border-color:#666 transparent;
        border-width:0.5em 0.5em 0 0.5em; /* 6px 6px 0 6px */
        opacity:0.9;
        display:block;
        left:1em; /* 12px */
        bottom:1em; /* 12px */
        position:absolute;
        z-index:99;
    }



/* ============================================================
    Code block
============================================================ */
ol.code {
    color:#999;
    font-family:Menlo,Monaco,'Courier New',Courier,monospace;
    font-size:1em; /* 16px */
    line-height:1.5; /* 24px */
    margin:1em 0 1em 3em; /* 16px 0 16px 48px */
    }
    ol.code li {
        list-style:decimal-leading-zero;
        background:#f0f0f0;
        margin:0 0 -1px 0;
        border-top:1px solid #fff;
        padding:0 0.5em; /* 0 8px */
    }
    ol.code li.tab1 { padding-left:4ex; }
    ol.code li.tab2 { padding-left:8ex; }
    ol.code li.tab3 { padding-left:12ex; }
    ol.code li.tab4 { padding-left:16ex; }
    ol.code li.tab5 { padding-left:20ex; }