/* ============================================================
    Reset
    1em = 16px
============================================================ */
html, body, section, nav, article, aside, h1, h2, h3, h4, h5, h6, hgroup, header, footer, address,
p, hr, pre, blockquote, ol, ul, li, dl, dt, dd, figure, figcaption, div,
a, em, strong, small, s, cite, q, dfn, abbr, time, code, var, samp, kbd, sub, sup, i, b, mark, span, br,
ins, del,
img, iframe, embed, object, video audio, canvas, map, area,
table, caption, colgroup, tbody, thead, tfoot, tr, td, th,
form, fieldset, legend, label, input, button, select, textarea,
details, summary, command, menu {
    font-size:100%;
    font-style:normal;
    text-align:left;
    text-decoration:none;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    outline:0;
    border:0 none;
    padding:0;
}
section, nav, article, aside, hgroup, header, footer,
img, figure, figcaption, details, menu {
    display:block;
}


/* ============================================================
    Debuging
============================================================ */
html.debug body {
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 87.5%,rgba(0,0,0,0.2) 100%);
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0) 87.5%, rgba(0,0,0,0.2) 100%);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0) 87.5%,rgba(0,0,0,0.2) 100%);
    background-image: -o-linear-gradient(top, rgba(0,0,0,0) 87.5%, rgba(0,0,0,0.2) 100%);
    background-image: linear-gradient(top, rgba(0,0,0,0.3) 87.5%,rgba(0,0,0,0.2) 100%);
   -webkit-background-size: 100% 8px;
   -o-background-size: 100% 8px;
    background-size: 100% 8px;
}
html.debug * {
    background-color:rgba(255,0,0,0.1);
}


/* ============================================================
    Sectioning
============================================================ */
body {
    background-color:#fff;
    text-rendering:optimizeLegibility;
    margin:1em auto;
    width:90%;
}
@media screen and (min-width:36em) {
    body {
        width:80%;
    }
}
body, pre, select, input, textarea, button {
    color:#444;
    font-family:sans-serif;
    font-weight:400;
    font-size:1em; /* 16px */
    line-height:1; /* 16px */
}
h1 {
    font-weight:700;
    font-size:2em; /* 32px */
    line-height:1; /* 32px */
    letter-spacing:-0.03125em; /* -1px */
    margin:1em 0; /* 32px 0 */
}
h2,
legend {
    color:#222;
    font-weight:400;
    font-size:1.5em; /* 24px */
    line-height:1; /* 24px */
    margin:1.3333em 0 0.6667em; /* 32px 0 16px */
}
h3 {
    color:#333;
    font-weight:400;
    font-size:1.3125em; /* 21px */
    line-height:1.1429; /* 24px */
    margin:1.1429em 0 0; /* 24px 0 0 */
}
h4 {
    color:#444;
    font-weight:400;
    font-size:1.125em; /* 18px */
    line-height:1.3334; /* 24px */
    margin:1.3334em 0 0; /* 24px 0 0 */
}
h5 {
    color:#555;
    font-weight:700;
    font-size:1em; /* 16px */
    line-height:1; /* 16px */
    margin:1.5em 0 0; /* 24px 0 0 */
}
h6 {
    color:#666;
    font-weight:700;
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    text-transform:uppercase;
    letter-spacing:0.1429em; /* 2px */
    margin:1.7143em 0 0; /* 24px 0 0 */
}


/* ============================================================
    Grouping
============================================================ */
p,pre,blockquote,ul,ol,dl,figure,figcaption,table,fieldset {
    font-size:1em; /* 16px */
    line-height:1.5; /* 24px */
    margin:0.5em 0; /* 8px 0 */
}
hr {
    font-weight:700;
    font-size:2em; /* 32px */
    line-height:1; /* 32px */
    text-align:center;
    margin:1em 0 2em; /* 0 0 32px */
    border:0;
    padding:0;
    height:0;
    clear:both;
    display:block;
    }
    hr::after {
        content:"···";
        color:#bbb;
        letter-spacing:1em;
        padding-left:1em;
        height:0;
    }
pre {
    margin:0.5em 0 0.5em 1.5em; /* 8px 0 8px 24px */
    white-space:pre; /* CSS2 */
    white-space:pre-wrap; /* CSS 2.1 */
    white-space:pre-line; /* CSS 2.1 & 3 */
    word-wrap:break-word; /* IE */
}
blockquote {
    color:#666;
    font-size:1em; /* 16px */
    line-height:1.5; /* 32px */
    border-left:0.25em solid #eee;
    margin:1em 0 1.5em; /* 16px 0 24px */
    padding:0 1.5em 0 1.25em; /* 0 24px 0 20px */
    }
    blockquote p {
        line-height:1.5; /* 24px */
        margin:0.5em 0; /* 8px 0 */
    }

/* Grouping > Lists */
li {
    margin-left:1.5em; /* 24px */
}
ol {
    list-style-type:decimal;
}
ul {
    list-style-type:square;
    }
    ul li li {
        list-style-type:circle;
    }
}
dt {
    font-size:1em; /* 16px */
    line-height:1.5; /* 24px */
}
dd {
    margin-left:1.5em; /* 24px */
    > * {
        margin-top:0;
    }
}

/* Grouping > Figures */
figure {
    margin:0 0 2em 0; /* 0 0 32px 0 */
}
figcaption {
    color:#666;
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    margin:0.5714em 0; /* 8px 0 */
    clear:left;
    }
    figcaption * {
        line-height:1.1429; /* 16px */
        margin:0.5714em 0; /* 8px 0 */
    }


/* ============================================================
    Text-level semantics
============================================================ */
a {
    color:#06f;
    border-bottom:1px solid rgba(0,102,255,0.25);
    }
    a:focus {
        outline:1px solid rgba(51,102,204,0.4);
    }
    a:hover,
    a:active {
        color:#39f;
        border-bottom:1px solid rgba(51,153,255,0.25);
    }
    a:link, a:visited, a:hover {
       -webkit-transition:all 0.2s ease;
       -moz-transition:all 0.2s ease;
       -o-transition:all 0.2s ease;
        transition:all 0.2s ease;
    }
    a:active {
        color:#03c;
        border-bottom:1px solid rgba(0,51,204,0.25);
       -webkit-transition:none;
       -moz-transition:none;
       -o-transition:none;
        transition:none;
    }
em, em a, i, cite, cite a {
    font-style:italic;
    line-height:90%;
}
strong, b {
    color:#333;
    font-weight:700;
    line-height:90%;
}
:lang(en-gb)>q {
    quotes:"\201C" "\201D" "\2018" "\2019";
    }
    q::before { content:open-quote; }
    q::after { content:close-quote;
    }
small {
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    display:inline-block;
    opacity:0.9;
}
abbr {
    font-size:0.875em; /* 14px */
    line-height:90%;
    letter-spacing:0.0357em; /* 0.5px */
    opacity:0.9;
}
abbr[title],
dfn[title] {
    border-bottom:1px dotted rgba(0,0,0,0.3);
    cursor:help;
}
code {
    font-family:Menlo,Monaco,Courier,monospace;
    font-size:1em; /* 16px */
    line-height:90%;
    }
    code {
        color:#906;
    }
    code .comment {
        color:#999;
    }
kbd {
    color:#666;
    line-height:90%;
    background-color:#fcfcfc;
    margin:0 0.25em; /* 0 4px */
    border:1px solid #e6e6e6;
    border-radius:4px;
    padding:0.1429em 0.4286em; /* 2px 6px */
}
sub {
    font-size:smaller;
    line-height:90%;
    vertical-align:sub;
}
sup {
    font-size:smaller;
    line-height:90%;
    vertical-align:super;
}


/* ============================================================
    Edits
============================================================ */
mark, ins {
    background-color:#ffd;
    line-height:90%;
    padding:0 0.125em; /* 0 2px */
    }
    ins {
        background-color:#f0f0f0;
    }
del, s {
    line-height:90%;
    text-decoration:line-through;
}


/* ============================================================
    Embedded content
============================================================ */
img {
    max-width:100%;
}


/* ============================================================
    Tabular data
============================================================ */
table {
    margin:1em 0; /* 16px 0 */
    border-collapse:collapse;
    border-spacing:0;
}
caption {
    caption-side:bottom;
    color:#666;
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    margin:0.5714em 0; /* 8px 0 */
}
td, th {
    text-align:left;
    border-bottom:1px solid #f0f0f0;
    padding:0.2857em 2.2857em 0.2143em 0; /* 4px 32px 3px 0 */
    vertical-align:top;
}
th {
    color:#555;
    font-size:1em; /* 16px */
    font-weight:700;
    line-height:1; /* 16px */
    border-bottom-color:#ccc;
    padding-bottom:0.4375em; /* 7px */
    padding:0.25em 2em 0.6875em 0; /* 4px 32px 11px 0 */
}


/* ============================================================
    Forms
============================================================ */
fieldset {
    margin-top:2em;
}
fieldset legend {
    margin-top:0;
    width:100%;
    padding-bottom:1em
}
fieldset div {
    margin:0.5em 0 1em; /* 8px 0 16px */
}
fieldset div em {
    color:#666;
    font-size:0.875em; /* 14px */
    line-height:1.1429; /* 16px */
    margin:0.5714em 0 0 0; /* 8px 0 0 0 */
    display:block;
}
fieldset abbr[title="Required"] {
    color:#900;
    font-weight:700;
    font-size:1.25em; /* 20px */
    line-height:0.1;
    border-bottom:0 none;
}
fieldset div.submit {
    border-top:1px solid #f0f0f0;
    padding-top:0.9375em; /* 15px */
}
label,
fieldset.options legend {
    color:#444;
    font-size:1em; /* 16px */
    line-height:1; /* 16px */
    margin:0.5em 0; /* 8px 0 */
    display:block;
    }
    label {
        cursor:pointer;
    }
    label.check {
        margin:0;
        padding:0.5em 0; /* 8px 0 */
        width:inherit;
        float:none;
    }
    fieldset.options legend {
        border:0 none;
        padding:0 0 1em 0; /* 0 0 16px */
    }
    label.check,
    fieldset.options label {
        font-size:1em; /* 16px */
        line-height:1; /* 16px */
    }
    fieldset.options li {
        list-style:none;
        margin:0;
    }
    label.check input,
    fieldset.options li input {
        margin-right:0.25em;
    }
input.text,
select,
textarea,
button {
    background-color:#f0f0f0;
   -webkit-border-radius:0px;
   -webkit-box-shadow:inset 0 1px 0 #e0e0e0;
   -moz-box-shadow:inset 0 1px 0 #e0e0e0;
    box-shadow:inset 0 1px 0 #e0e0e0;
    box-sizing:border-box;
    border-radius:0.25em;
    padding:0.25em; /* 4px */
    vertical-align:middle;
    width:100%;
}
textarea {
    overflow:auto;
}
select {
    background-color:none;
   -webkit-box-shadow:none;
   -moz-box-shadow:none;
    box-shadow:none;
    margin-bottom:-0.375em; /* 6px */
    border:1px solid #ccc;
    padding:0.25em; /* 4px 0 */
    width:auto;
}
input[type="button"],
input[type="submit"],
button {
    color:#06f;
    background-color:#f0f0f0;
    font-size:1em; /* 16px */
    font-weight:700;
    line-height:1.5; /* 24px */
   -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
   -moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
    border-radius:0.25em;
    margin-right:1em; /* 16px */
    padding:0.25em 2%; /* 4px 2% */
    opacity:0.9;
    width:auto;
    overflow:visible;
    cursor:pointer;
}
input[type="submit"] {
    color:#fff;
    background-color:#06f;
   -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.25);
   -moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.25);
    box-shadow:inset 0 -1px 0 rgba(0,0,0,0.25);
    margin-right:0.5em;
    }
    input[type="button"]:hover,
    input[type="submit"]:hover,
    button:hover {
        opacity:1;
    }
    input[type="button"]:active,
    input[type="submit"]:active,
    button:active {
       -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.25);
       -moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.25);
        box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.25);
    }

@media screen and (min-width:36em) {
    fieldset div em,
    fieldset div.submit,
    fieldset.options ul,
    label.check {
        margin-left:23.539%;
    }
    fieldset.options {
        margin:0;
    }
    label,
    fieldset.options legend {
        padding:0;
        width:23.539%;
        float:left;
    }
    input.text,
    textarea {
        width:66%;
    }
}

@media print {
    @page {
        margin:0.5cm;
    }
    * {
        background:transparent !important;
        color:#222 !important;
        text-shadow:none !important;
       -webkit-box-shadow:none;
       -moz-box-shadow:none;
        box-shadow:none;
    }
    p, h1, h2, h3 {
        orphans:3;
        widows:3;
    }
    h1, h2, h3, h4 {
        page-break-after:avoid;
    }
    blockquote {
        border-left:4px solid #ccc;
        padding:0 1em;
        page-break-inside:avoid;
    }
    a, a:visited {
        color:#222 !important;
        border-bottom:1px dotted #999;
        padding-left:0 !important;
    }
    thead {
        display:table-header-group;
    }
    tr, img {
        page-break-inside:avoid;
    }
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    textarea {
        border-bottom:1px solid #999;
       -webkit-box-shadow:none;
       -moz-box-shadow:none;
        box-shadow:none;
    }
}